<%- include("header");-%>

    <h1>This is the about page </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error distinctio cum pariatur, similique laudantium omnis fugiat quasi doloremque, impedit itaque repudiandae dolore possimus molestias officiis porro harum nisi nobis et maiores ea repellendus deleniti vitae aperiam. Accusamus quis optio temporibus inventore! Consectetur dolor dolore ad recusandae suscipit adipisci hic, consequuntur quas dolores neque officia mollitia repudiandae aspernatur ipsam unde? Illo odit doloribus eligendi sed temporibus perspiciatis amet ratione cum quod maxime ad blanditiis iste eveniet quaerat reiciendis laboriosam commodi eum iure suscipit, ipsam et eius fugiat voluptatum praesentium. Itaque delectus nostrum cupiditate nihil labore nemo sequi debitis, eligendi ab culpa?
    </p>
    <%- include("footer");-%>
